<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reservation Complete</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="section" id="reservationComplete">
    <div class="flex-box">
        <div class="box-header">
            <svg class="check-svg" width="100" height="100" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="10" stroke="green" stroke-width="2"/>
                <path d="M8 12L11 15L16 9" stroke="green" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h1>예약이 완료되었습니다!</h1>
        </div>
        <ul class="reservation-complete-body">
            <li>
<!--                reservationdto를 바로 반환하지 말고 한번 가공하기 -->
                <span>예약 일시</span>
                <span th:text="${reservationDto.getReservationTime()}">3234980:90283928TD</span>
            </li>
            <li>
                <span>매장 명</span>
                <span th:text="${reservationDto}">황보네 옆가게</span>
            </li>
            <li>
                <span>예약 인원</span>
                <span th:text="${reservationDto.getGuestCount()} + ' 명'">2 명</span>
            </li>
        </ul>
                <p class="info-required">당일 예약 시간 <strong>10분 전</strong> 까지 매장 키오스크로 체크인을 완료하셔야 합니다.</p>
        <div></div>
    </div>
</div>
</body>
</html>