<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>예약 내역(customer 기준)</title>
</head>
<body>
<div class="section" id="reservationList">
    <div id="resultBox" class="display-container">
        <ul class="list-header">
            <li class="list-head">
                <ul class="flex-box">
                    <li>예약일시</li>
                    <li>예약인원</li>
                    <li>도착여부</li>
                </ul>
            </li>
        </ul>
        <ul id="listContainer" class="list-container">
            <li id="list-el" th:each="reservation : ${reservations}">
                <ul class="flex-box">
                    <li th:text="${#temporals.format(reservation.reservationTime, 'yyyy-MM-dd HH:mm')}"></li>
                    <li th:text="${reservation.guestCount}"></li>
                    <li class="state-buttons" th:if="${reservation.reservationStatus.toString().equals('CONFIRMED')}">
                        <form th:if="${!reservation.hasArrived}" th:action="@{/kiosk/check}" method="post">
                            <input type="hidden" th:value="${reservation.id}" name="reservationId">
                            <input type="hidden" th:value="${reservation.customerId}" name="customerId">
                            <input type="hidden" th:value="${reservation.storeId}" name="storeId">
                            <button class="detail custom-button" type="submit">도착 확인</button>
                        </form>
                        <p class="state-msg" th:if="${reservation.isHasArrived}">도착 확인 완료</p>
                    </li>
                    <li class="state-buttons" th:if="${!reservation.reservationStatus.toString().equals('CONFIRMED')}">
                        <p class="state-msg">승인 전</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>