<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        window.onload = function () {
            let alertCode = /*[[${alertCode}]]*/"";
            let alertMessage = /*[[${elertMessage}]]*/"";
            if (alertMessage && alertCode) {
                alert(alertMessage);
            }
        };
    </script>
    <title>Error Page</title>
</head>
    <h1 th:text="${alertMessage}"></h1>
    <p th:text="${alertCode}"></p>
<body>

</body>
</html>