<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manager Home</title>
</head>
<body>
<div id="notification" th:fragment="notification-message" style="">
    <h1>새로운 예약이 접수되었습니다!!</h1>
    <div class="contents">
        < reservation contents.....>
    </div>
</div>
</body>
</html>