<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/geo.js"></script>
    <script th:inline="javascript">
         window.onload = function() {
             const message = /*[[${submitSuccess}]]*/"";
             const status = /*[[${success}]]*/"";
             if (message !== "") {
                 alert(message);
                window.location.href = /*[[${redirectUrl}]]*/"";

                 // if (confirm(message)) {
                 // } else {
                 //     window.location.href = /*[[${prevUrl}]]*/"";
                 // }
             }
         };
    </script>
</head>

<body>
<p></p>
</body>
</html>