<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/js/notification.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Manager Home</title>
</head>
<body>
<div id="connectSource" th:attr="data-manager-id=${managerId}"></div>
<div class="section" id="managerHome">
    <h1>Manager Home</h1>
    <div class="button-container">
        <form action="/manager/store/new" method="get"  th:if="${hasStore == false}">
            <label for="managerId_1" >
                <input id="managerId_1" type="text" name="managerId" hidden>
                <button type="submit" class="submit-button">매장 등록하기</button>
            </label>
        </form>
        <a class="submit-button" th:if="${hasStore}" th:href="@{manager/store/{managerId}(managerId=${managerId})}">매장 관리하기</a>
        <a class="submit-button" th:if="${hasStore}" th:href="@{manager/reservations/{managerId}(managerId=${managerId})}">예약 확인</a>
    </div>
</div>
    <div id="notification" th:fragment="dynamic"
        th:replace="~{notification-fragment :: notification-message}" style="display: none">
    </div>

</body>
</html>