<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="/js/notification.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Manager Home</title>
</head>
<body>
<div class="section" id="managerHome">
    <div th:attr="data-manager-id=${managerId}"></div>
    <p th:text="${name}"></p>
    <p>님 안녕하세요!</p>
    <div class="button-container">
        <form action="/manager/store" method="post">
            <button type="button" th:method="post"></button>
        </form>
        <a class="submit-button" th:if="${hasStore}" href="/manager/store">매장 관리</a>
        <a class="submit-button" th:if="${!hasStore}" href="/manager/store/new">매장 등록 하기</a>
    </div>
</div>
<!-- todo 알림에 대한 ui 보류 -->
    <div id="notification" th:fragment="dynamic"
        th:replace="~{notification-fragment :: notification-message}" style="display: none">
    </div>

</body>
</html>