<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>매장 상세 정보</title>
    <script defer src="/js/notification.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <!--    /manager/store  -->
</head>
<body>
<div class="section" id="storeDetail">
    <div id="connectSource" th:attr="data-manager-id=${managerId}"></div>
    <div class="flexbox">
        <div class="box-header">
            <h1 th:text="${storeDto.name}">매장명</h1>
        </div>
        <div>
            <ul class="store-detail-body">
                <li>
                    <span>매장 이름</span>
                    <span th:text="${storeDto.name}"></span>
                </li>
                <li>
                    <span>전화번호</span>
                    <span th:text="${storeDto.number}"></span>
                </li>
                <li>
                    <span>평점</span>
                    <span th:text="${storeDto.rating}"></span>
                </li>
                <li>
                    <span>매장 리뷰</span>
                </li>
                <li class="review-list">
                    <ul th:each="review : ${storeDto.reviews}" class="store-detail-reviews">
                        <li class="review-title" th:text="${review.title}"></li>
                        <li class="review-rating" th:text="${review.rating}"></li>
                        <li class="review-body" th:text="${review.body}"></li>
                        <li>
                            <form th:action="@{/manager/reviews/{reviewId}/delete(reviewId=${review.id})}" method="post">
                                <div class="button-container">
                                    <button class="custom-button" type="submit">삭제</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
    <div id="notification" th:fragment="dynamic"
         th:replace="~{notification-fragment :: notification-message}" style="display: none">
    </div>
</div>
</body>
</html>