<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/geo.js"></script>
<!--    /manager/store  -->
</head>

<body>
<button id="geoResult"></button>
manager의 매장 조회 페이지!
<!--<input type="hidden" id="lat">-->
<!--<input type="hidden" id="lnt">-->
<!--<input id="sortByDistance" type="submit" onclick="getLocation();" value="sort by distance">-->
<!--<a th:href="@{/customer/stores/search?sort=name}">이름순으로 조회</a>-->
<!--<a th:href="@{/customer/stores/search?sort=rating}">별점순으로 조회</a>-->
<!--<a th:href="@{/customer/stores/search?sort=distance}">거리순으로 조회</a>-->
<!--<div id="loading" style="display:none">로딩중..</div>-->
<!--<div id="resultBox">-->
<!--    <ul id="listContainer">-->
<!--        <li th:each="store : ${storeDtoList}" th:text="${store.getName()} + '별점 =' + ${store.getRating()} + '입니다'"></li>-->
<!--    </ul>-->
<!--    <ul th:fragment="processedSection" id="resultContainer" th:replace="~{customer/storeFragments :: processedSection}">-->
<!--    </ul>-->
<!--</div>-->


</body>
</html>