<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<!--    /manager/store  -->
</head>
<body>
manager의 매장 보기 페이지!

    <ul>
        <li>
            <span>매장 이름 :</span>
            <span th:text="${storeDto.getName()}"></span>
        </li>
        <li>
            <span>매장 번호 :</span>
            <span th:text="${storeDto.getNumber()}"></span>
        </li>
        <li>
            <span>매장 별점 :</span>
            <span th:text="${storeDto.getRating()}"></span>
        </li>
        <li>
            <p>매장 리뷰</p>
            <ul th:each="review : ${storeDto.getReviews()}">
                <li th:text="'제목' + ${review.getTitle()}"></li>
                <li th:text="'내용' + ${review.getBody()}"></li>
                <li th:text="'별점' + ${review.getRating()}"></li>
                <li>
                    <form th:action="@{/manager/store/reviews/{reviewId}(reviewId=${review.getId()})}" th:method="delete">
                        <input type="hidden">
                        <button sec:authorize="hasRole('ROLE_MANAGER')" type="submit">삭제</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>