<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store Details</title>
</head>
<body>
    <ul>
        <li>
            매장이름 :
            <span th:text="${storeDto.getName()}"></span>
        </li>
        <li>
            매장 번호 :
            <span th:text="${storeDto.getNumber()}"></span>
        </li>
        <li>
            매장 별점 :
            <span th:text="${storeDto.getRating()}"></span>
        </li>
        <li>
            매장 리뷰:
            <ul>
                <li th:if="${storeDto.getReviews().isEmpty()}">
                    리뷰가 없습니다.
                </li>
                <li th:each="store : ${storeDto.getReviews()}" >
                    <p>
                        <span>내용 : </span>
                        <span th:text="${store.getBody()}"></span>
                    </p>
                    <p>
                        <span>별점 : </span>
                        <span th:text="${store.getRating()}"></span>
                    </p>
                </li>
            </ul>
        </li>

    </ul>
</body>
</html>